body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  background-repeat: no-repeat;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background-color: orange;
  color: white;
  width: 82%;
  margin: auto;
   bottom: 70rem; 
   padding: 15px;
  position: relative; 
  font-size: 18px;
}
.icon1 {
  width: 30px;
  color: white;
}
.block1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.icon2 {
  width: 30px;
}
.images1 img {
  width: 100%;
  height: 100%;
}
.images2 {
  display: flex;
  justify-content: center;
  bottom: 250px;
  position: relative;
  margin: auto;
  width: 700px;
  background-color: white;
}
.images2 img {
  border-radius: 50%;
  width: 200px;
  margin-bottom: 100px;
  bottom: 100px;
  position: relative;
}
h1 {
   position: relative;
   bottom: 430px; 
  font-size: 39px;
  text-align: center;
}
.title4 {
 bottom: 435px; 
  position: relative;
  font-size: 23px;
  color: orange;
  text-align: center;
}
.title5 {
  text-align: center;
  justify-content: center;
  bottom: 400px; 
 position: relative;
  font-size: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.all  {
  color: orange;
}
.text7 {
  bottom: 67rem;
  position: relative;
  float: right;
  margin-right: 105px;
  background-color: orange;
  height: 50px;
  width: 170px;
  text-align: center;
  border-radius: 5%;
  font-size: 18px;
  color: white;
  text-decoration: none;
}
.text7:hover {
  transform: translateY(-10%);
  cursor: pointer;
}
.container1 {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  bottom: 500px; 
 position: relative;
  gap: 20px;
  width: 100%;
  border-radius: 50%;
}
.block2 {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 0 auto, 20px auto;
  color: rgba(137, 43, 226, 0.596);
}
.block2:hover {
  color: orange;
  animation-name: 1s;
}
.bg1 {
  background-color: orange;
  width: 4%;
 padding-top: 10px; 
  border-radius: 10%;
  justify-content: center;
  margin-left: 90px;
  bottom: 400px; 
 position: relative;
 border-radius: 10px;
}
h3 {
 margin-left: 90px;
  bottom: 450px; 
}
.title7 {
margin-left: 90px;
  bottom: 400px;
  position: relative; 
  font-size: 15px;
  color: darkgray;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.title8{
  color: orange;
}
 .text9{
  display: flex;
  color: black;
  animation-name: color;
  animation-duration: 1s;
  justify-content: center;
  cursor: pointer;
  gap: 50px;
bottom: 455px;
 position: relative; 
  flex-direction: row;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 18px; 
}

.text9:hover {
  translate: scaleY(1.09);
  color: orange;
}
.icon4 {
  font-size: 25px;
  border-radius: 50%;
 bottom: 65px; 
 position: relative;
}
.icon5 {
  font-size: 25px;
  border-radius: 50%;
 bottom: 65px; 
position: relative;
}
.icon6 {
  font-size: 25px;
  border-radius: 50%;
 bottom: 65px; 
  position: relative; 
}
.icon7 {
  font-size: 25px;
  border-radius: 50%;
  bottom: 65px;
  position: relative;
}
.icon8 {
  font-size: 25px;
  border-radius: 50%;
  bottom: 65px;
  position: relative;
}
h2 {
   bottom: 390px;
  position: relative; 
  margin-left: 90px;
  font-size: 30px;
}
.container2 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 15px;
  grid-auto-rows: 250px;
   position: relative; 
  bottom: 25rem; 
  width: 100%;
}
.tof1 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  background-image: url("images/tof1.webp");
  background-size: cover;
  cursor: pointer;
}
.tof2 {
  grid-column: 3 / 5;
  grid-row: 1 / 3;
  background-image: url("images/tof2.webp");
  background-size: cover;
  cursor: pointer;
}
.tof3 {
  grid-column: 5 / 7;
  grid-row: 1 / 2;
  background-image: url("images/tof3.webp");
  background-size: cover;
  cursor: pointer;
}
.tof4 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-image: url("images/tof4.webp");
  background-size: cover;
  cursor: pointer;
}
.tof5 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-image: url("images/tof5.webp");
  background-size: cover;
  cursor: pointer;
}
.tof6 {
  grid-column: 5 / 7;
  grid-row: 2 / 3;
  background-image: url("images/tof6.webp");
  background-size: cover;
  cursor: pointer;
}
.tof7 {
  grid-column: 1 / 3;
  grid-row: 3 / 5;
  background-image: url("images/tof7.webp");
  background-size: cover;
  cursor: pointer;
}
.tof8 {
  grid-column: 3 / 5;
  grid-row: 3 / 4;
  background-image: url("images/tof8.webp");
  background-size: cover;
  cursor: pointer;
}
.tof9 {
  grid-column: 5 / 7;
  grid-row: 3 / 5;
  background-image: url("images/tof9.webp");
  background-size: cover;
  cursor: pointer;
}
.tof10 {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
  background-image: url("images/tof10.webp");
  background-size: cover;
  cursor: pointer;
}
.tof11 {
  grid-column: 4 / 5;
  grid-row: 4 / 5;
  background-image: url("images/tof11.webp");
  background-size: cover;
  cursor: pointer;
}
.bg2 {
  background-color: orange;
  width: 4%;
  padding-top: 10px;
  border-radius: 10px;
  justify-content: center;
  margin-left: 90px;
  bottom: 350px;
  position: relative;
}
h3 {
  margin-left: 90px;
  bottom: 350px;
  position: relative;
  font-size: 30px;
}
.title10 {
  margin-left: 90px;
  bottom: 345px;
  position: relative;
  font-size: 17px;
  color: darkgray;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.title11 {
  color: gray;
  font-size: 19px;
  bottom: 30rem;
  position: relative;
  margin: auto;
  min-width: 65%;
  float: right;

}
@property --progress-value {
  syntax: "<integer>";
  inherits: false;
  initial-value: 0;
}

@-webkit-keyframes html-progress {
  to {
    --progress-value: 97;
  }
}
@keyframes html-progress {
  to {
    --progress-value: 97;
  }
}
@-webkit-keyframes webdesign-progress {
  to {
    --progress-value: 78;
  }
}
@keyframes webdesign-progress {
  to {
    --progress-value: 78;
  }
}
@-webkit-keyframes java-progress {
  to {
    --progress-value: 67;
  }
}
@keyframes java-progress {
  to {
    --progress-value: 67;
  }
}
@-webkit-keyframes php-progress {
  to {
    --progress-value: 97;
  }
}
@keyframes php-progress {
  to {
    --progress-value: 97;
  }
} 
.container3 {
  display: flex;
  text-align: center;
  justify-content: center; 
  gap: 30px;
  bottom: 350px;
  position: relative;
  /* min-width: 30%; */
  right: -40rem;
}
.progress-bar {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  /* to center the percentage value */
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.progress-bar::before {
  counter-reset: percentage var(--progress-value);
  content: counter(percentage) "%";
}
.html {
  background: radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(
      orange calc(var(--progress-value) * 1%),
      rgba(169, 169, 169, 0.068) 0
    );
  -webkit-animation: html-progress 2s 1 forwards;
  animation: html-progress 2s 1 forwards;
}
.html::before {
  -webkit-animation: html-progress 2s 1 forwards;
  animation: html-progress 2s 1 forwards;
  bottom: 15px;
  position: relative;
  font-size: 35px;
}
.webdesign {
  background: radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(
      orange calc(var(--progress-value) * 1%),
      rgba(169, 169, 169, 0.068) 0
    );
  -webkit-animation: webdesign-progress 2s 1 forwards;
  animation: webdesign-progress 2s 1 forwards;
}

.webdesign::before {
  -webkit-animation: webdesign-progress 2s 1 forwards;
  animation: webdesign-progress 2s 1 forwards;
  bottom: 15px;
  position: relative;
  font-size: 35px;
}
.java {
  background: radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(
      orange calc(var(--progress-value) * 1%),
      rgba(169, 169, 169, 0.068) 0
    );
  -webkit-animation: java-progress 2s 1 forwards;
  animation: java-progress 2s 1 forwards;
}

.java::before {
  -webkit-animation: java-progress 2s 1 forwards;
  animation: java-progress 2s 1 forwards;
  bottom: 15px;
  position: relative;
  font-size: 35px;
}
.php {
  background: radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(
      orange calc(var(--progress-value) * 1%),
      rgba(169, 169, 169, 0.068) 0
    );
  -webkit-animation: php-progress 2s 1 forwards;
  animation: php-progress 2s 1 forwards;
}
.php::before {
  -webkit-animation: php-progress 2s 1 forwards;
  animation: php-progress 2s 1 forwards;
  bottom: 15px;
  position: relative;
  font-size: 35px;
}
h4 {
  justify-content: center;
  font-size: 15px;
  top: 130px;
  position: relative;
}
progress {
  visibility: hidden;
  width: 0;
  height: 0;
}
.bg5 {
  background-color: orange;
  width: 50px;
  height: 10px;
  top: 100px;
  margin-left: 108px;
  position: relative;
  color: white;
  border-radius: 10px;
}
h5 {
  flex-direction: row;
  bottom: 73rem;
  position: relative;
  font-size: 30px;
  margin-left: 8%;
  color: white;
}
.title12 {
  font-size: 17px;
  color: darkgray;
  bottom: 75rem;
  position: relative;
  margin-left: 7rem;
}
.bg4 {
  background-color: indigo;
  width: 100%;
  height: 60rem;
  bottom: 300px;
  position: relative;
  border-radius: 10px;
}
h6{
  float: right;
  margin-right: 31.4rem;
  bottom: 86rem;
  position: relative;
  font-size: 22px;
  color: white;
} 
.title13{
  float: right;
  margin-right: 42rem; 
  bottom: 90rem; 
  position: relative; 
  color: orange;
  font-size: 18px;
}
.title14{
  float: right;
  margin-right: 47.3%; 
  bottom: 91rem;
  position: relative;
  font-size: 17px;
  color: white;
}
.title15{
  float: left;
  margin-left: 37.3%;
  bottom: 91rem;
  position: relative;
  font-size: 19px;
  color: white;
} 
.form-action1{
  display: flex;
   bottom: 90rem; 
   justify-content: center;
  position: relative; 
  accent-color: indigo;
  font-size: 18px;
  color: white;
  width: 100%;
  margin: auto;
} 
.title16{
  float: left;
  margin-left: 37.3%;
  bottom: 91rem;
  position: relative;
  font-size: 19px;
  color: white;
}
  .title18{
  float: right;
  text-align: center;
  width: 100%;
  bottom: 93rem;
  margin-right: 3.1rem;
  position: relative;
  font-size: 17px;
  color: white;
}
 .title17{
  float: right;
  margin-right: 46.7%;
  bottom: 93rem;
  position: relative;
  color: orange;
  font-size: 18px;
}  
 .form-action2{
  display: flex;
  bottom: 92rem; 
  justify-content: center;
  position: relative; 
  accent-color: indigo;
  font-size: 18px;
  color: white;
  width: 100%;
  margin: auto;
} 
.bg6 {
  margin-left: 8%;
  background-color: orange;
  width: 50px;
  height: 10px;
  bottom: 84rem;
  position: relative;
  color: white;
  border-radius: 10px;
} 
 .title19{
  float: left;
  margin-left: 37.5%;
  bottom: 93rem;
  position: relative;
  font-size: 19px;
  color: white;
}  
 .title20{
   margin-left: 105px;
  position: relative;
  bottom: 85rem;
  font-size: 31px;
  border: 2px  black;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
 }
.title21{
  margin-left: 105px;
  bottom: 86rem;
  position: relative;
  color: gray;
  font-size: 18px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.container4{
  display: flex;
  bottom: 95rem;
  position: relative;
}
.graduated{
  font-size: 21px;
  float: right;
  top: -13px;
  position: relative;
  width: 100%;
}
.master{
  font-size: 21px;
  float: right;
  position: relative;
  top: -13px;
  width: 100%;
}
.course{
  font-size: 21px;
  top: -13px;
  position: relative;
  width: 100%;
  float: right;
}
.main-timeline{
  overflow: hidden;
  position: relative;
  font-size: 19px;
  width: 100%;
}
.text{
  color: orange;
  bottom: 18px;
  position: relative;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
}
.year{
  bottom: 18px;
  position: relative;
  font-size: 17px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: gray;
}
.description{
  color: gray;
}
.main-timeline:before{
  content:"";
  width: 3px;
  height: 95%;
  background-color: grey;
  bottom: -5px;
  left: 30%;
  position: absolute;
  transform: translateX(-50%);
}
.main-timeline .timeline{
  width: 63%;
  margin: 1px;
  float: right;
  position: relative;
}
.main-timeline .timeline:before{
  content:"";
  width: 15px;
  height: 15px;
  background-color: orange;
  bottom: 225px;
  left: -12%;
  box-shadow: 0px 0px 1px 9px rgba(255, 166, 0, 0.226);
  position: absolute;
  border-radius: 50%;
}
.title23{
  justify-content: center;
  text-align: center;
  height: 60px;
  font-size: 21px;
  background-color:indigo;
  color: gray;
  bottom: 120rem;
  position: relative;
  padding-top: 35px;
}
.colorib{
  color: gray;
}
.colorib:hover{
  animation-name: 1s;
  color: orange;
}
.images3 img{
  bottom: 90rem;
  position: relative;
}
.number-count{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  gap: 152px;
}
.item-value{
  bottom: 106rem;
  position: relative; 
  font-size: 80px;
  color: white; 
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 .title25{
  bottom: 111.2rem;
  position: relative;
  margin-left: 26%;
  font-size: 21px;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 
.title26{
  bottom: 115.5rem;
  position: relative;
  margin-left: 42%;
  font-size: 21px;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.title27{
  bottom: 119.8rem;
  position: relative;
  margin-left: 62%;
  font-size: 21px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  color: white;
}
.title28{
 bottom: 124rem;
 position: relative;
 margin-left: 83%;
 font-size: 21px;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 color: white;
}

